@page "/"

<PageTitle>Index</PageTitle>

<MudPaper Elevation="0">
    <MudFileUpload T="IBrowserFile"
                   FilesChanged="OnFileChanged"
                   Class="mb-4">
        <ButtonTemplate>
            <MudButton HtmlTag="label"
                       Variant="Variant.Filled"
                       Color="Color.Primary"
                       StartIcon="@Icons.Material.Filled.CloudUpload"
                       for="@context">
                Upload Files
            </MudButton>
        </ButtonTemplate>
    </MudFileUpload>

    <MudTreeView Items="_treeItems"
                 ServerData="LoadItems">
        <ItemTemplate Context="item">
            <MudTreeViewItem Value="@item"
                             Icon="@item.Icon"
                             LoadingIconColor="Color.Info"
                             CanExpand="@item.CanExpand">
                <BodyContent>
                    <div class="d-flex flex-row align-items-center">
                        <MudText>@item.Name</MudText>
                        @if (!item.IsFolder)
                        {
                            <MudIconButton Icon="@Icons.Material.Filled.Download" 
                                           Class="ml-4"
                                           Size="Size.Small"
                                           Color="Color.Error"
                                           Href="@ToUrl(item)"
                                           Target="_blank"/>
                        }
                    </div>
                </BodyContent>
            </MudTreeViewItem>
        </ItemTemplate>
    </MudTreeView>
</MudPaper>